body{
    background-color: black;
    color: white;
}

.container {
    width: 100px; /* Adjust the width and height to create a circle */
    height: 100px;
    border-radius: 50%; /* This creates a circular shape */
    overflow: hidden; /* This ensures the image doesn't overflow outside the circle */
  }
  
.container img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Maintain aspect ratio */
    border-radius: 50%;
    
  }


  